:root {
  --tableFontSize: 16px;
  --chartWidth: 300px;
  --chartHeight: 300px;
}
.wrap {
  padding-left: 20px;
  background-color: white;
}
.content h1 {
  padding-bottom: 5px;
}
#chartContainer {
  height: var(--chartHeight);
  display: flex;
}

#barChartContainer {
  width: 62%;
}
.totalAnomalies {
  width: var(--chartWidth);
  height: var(--chartHeight);
  display: flex;
  flex-direction: column;
  text-align: center;
}

#barChart,
#pieChart,
.totalAnomalies {
  background-color: whitesmoke;
}
#pieChart,
.totalAnomalies {
  margin-left: 20px;
}
