Mobile App/Farmers Friend/Project Demo.mp4
Mobile App/Farmers Friend/docs
Mobile App/Farmers Friend/tests_1
Mobile App/Farmers Friend/tests_2
Mobile App/Farmers Friend/tests_3
Mobile App/Farmers Friend/benchmark_subset


Web App/Minidet Demo.mp4
Web App/NOVICOM certificate
Web App/FreeCodeCamp
.aider*
